In [32]:
import pandas as pd
from sqlalchemy import create_engine
from dotenv import load_dotenv
import os

In [33]:
df = pd.read_csv('data/cfb_data.csv')
df.describe().round(2)

,id,year,week,postseason,id_home_team,id_away_team,points_home,points_away,completed,conference_game,home_team_id,away_team_id
count,97109.0,97109.00,97109.00,97109.00,97109.00,97109.00,96744.00,96744.00,97109.00,97109.00,97109.00,97109.00
mean,48555.0,1972.60,6.83,0.02,49423.46,77702.19,24.22,16.91,1.00,0.53,49423.46,77702.19
std,28033.1,38.14,3.50,0.13,214397.67,265522.78,16.46,14.17,0.03,0.50,214397.67,265522.78
min,1.0,1869.00,1.00,0.00,2.00,2.00,0.00,0.00,0.00,0.00,2.00,2.00
25%,24278.0,1941.00,4.00,0.00,142.00,154.00,12.00,6.00,1.00,0.00,142.00,154.00
50%,48555.0,1978.00,7.00,0.00,252.00,295.00,22.00,14.00,1.00,1.00,252.00,295.00
75%,72832.0,2008.00,10.00,0.00,2348.00,2460.00,34.00,26.00,1.00,1.00,2348.00,2460.00
max,97109.0,2022.00,20.00,1.00,1000929.00,1000932.00,222.00,158.00,1.00,1.00,1000929.00,1000932.00

In [34]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 97109 entries, 0 to 97108
Data columns (total 18 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   id                     97109 non-null  int64
 1   year                   97109 non-null  int64
 2   week                   97109 non-null  int64
 3   postseason             97109 non-null  int64
 4   id_home_team           97109 non-null  int64
 5   id_away_team           97109 non-null  int64
 6   points_home            96744 non-null  float64
 7   points_away            96744 non-null  float64
 8   completed              97109 non-null  int64
 9   conference_game        97109 non-null  int64
 10  home_team_id           97109 non-null  int64
 11  home_team_full_name    97109 non-null  object
 12  home_team_school_name  97109 non-null  object
 13  home_team_mascot       96055 non-null  object
 14  away_team_id           97109 non-null  int64
 15  away_team_full_name    97109 non-null  object
 16  away_team_school_name  97109 non-null  object
 17  away_team_mascot       93948 non-null  object
dtypes: float64(2), int64(10), object(6)
memory usage: 13.3+ MB

In [35]:
empty_rows = df.isnull().any(axis=1).sum()
print(empty_rows)

4566

In [36]:
df.dropna()
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 97109 entries, 0 to 97108
Data columns (total 18 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   id                     97109 non-null  int64
 1   year                   97109 non-null  int64
 2   week                   97109 non-null  int64
 3   postseason             97109 non-null  int64
 4   id_home_team           97109 non-null  int64
 5   id_away_team           97109 non-null  int64
 6   points_home            96744 non-null  float64
 7   points_away            96744 non-null  float64
 8   completed              97109 non-null  int64
 9   conference_game        97109 non-null  int64
 10  home_team_id           97109 non-null  int64
 11  home_team_full_name    97109 non-null  object
 12  home_team_school_name  97109 non-null  object
 13  home_team_mascot       96055 non-null  object
 14  away_team_id           97109 non-null  int64
 15  away_team_full_name    97109 non-null  object
 16  away_team_school_name  97109 non-null  object
 17  away_team_mascot       93948 non-null  object
dtypes: float64(2), int64(10), object(6)
memory usage: 13.3+ MB

In [37]:
cleaned_df = df.drop_duplicates()
empty_rows = cleaned_df.isnull().any(axis=1).sum()
print(cleaned_df)

          id  year  week  postseason  id_home_team  id_away_team  points_home  \
0          1  1869     1           0           164           163          6.0
1          2  1869     2           0           163           164          8.0
2          3  1870     1           0           164           171          6.0
3          4  1870     2           0           163           164          6.0
4          5  1872     1           0           164           171          0.0
...      ...   ...   ...         ...           ...           ...          ...
97104  97105  2022     1           1          2509            99          7.0
97105  97106  2022     1           1            30          2655         45.0
97106  97107  2022     1           1           254           213         21.0
97107  97108  2022     1           1          2571          2449         45.0
97108  97109  2022     1           1            61          2628         65.0

       points_away  completed  conference_game  home_team_id  \
0              4.0          1                0           164
1              0.0          1                0           163
2              3.0          1                0           164
3              2.0          1                0           163
4              0.0          1                0           164
...            ...        ...              ...           ...
97104         63.0          1                0          2509
97105         46.0          1                0            30
97106         35.0          1                0           254
97107         21.0          1                1          2571
97108          7.0          1                0            61

                  home_team_full_name home_team_school_name home_team_mascot  \
0             Rutgers Scarlet Knights               Rutgers  Scarlet Knights
1                    Princeton Tigers             Princeton           Tigers
2             Rutgers Scarlet Knights               Rutgers  Scarlet Knights
3                    Princeton Tigers             Princeton           Tigers
4             Rutgers Scarlet Knights               Rutgers  Scarlet Knights
...                               ...                   ...              ...
97104             Purdue Boilermakers                Purdue     Boilermakers
97105     Southern California Trojans                   USC          Trojans
97106                       Utah Utes                  Utah             Utes
97107  South Dakota State Jackrabbits    South Dakota State      Jackrabbits
97108                Georgia Bulldogs               Georgia         Bulldogs

       away_team_id       away_team_full_name away_team_school_name  \
0               163          Princeton Tigers             Princeton
1               164   Rutgers Scarlet Knights               Rutgers
2               171            Columbia Lions              Columbia
3               164   Rutgers Scarlet Knights               Rutgers
4               171            Columbia Lions              Columbia
...             ...                       ...                   ...
97104            99                LSU Tigers                   LSU
97105          2655         Tulane Green Wave                Tulane
97106           213  Penn State Nittany Lions            Penn State
97107          2449  North Dakota State Bison    North Dakota State
97108          2628          TCU Horned Frogs                   TCU

      away_team_mascot
0               Tigers
1      Scarlet Knights
2                Lions
3      Scarlet Knights
4                Lions
...                ...
97104           Tigers
97105       Green Wave
97106    Nittany Lions
97107            Bison
97108     Horned Frogs

[97109 rows x 18 columns]

In [38]:
print(empty_rows)

4566

In [39]:
invalid_df = pd.DataFrame()
null_row_mask = df.isnull().any(axis=1)
rows_with_null = df[null_row_mask]
invalid_df = pd.concat([invalid_df, rows_with_null], ignore_index=True)
print(invalid_df)

         id  year  week  postseason  id_home_team  id_away_team  points_home  \
0        13  1873     3           0       1000055       1000066          6.0
1        17  1873     6           0            43       1000067          2.0
2        30  1875     3           0       1000068           108          0.0
3        31  1875     3           0       1000055       1000066          6.0
4        36  1875     4           0       1000066           171          0.0
...     ...   ...   ...         ...           ...           ...          ...
4561  97036  2022    14           0          3071           175          NaN
4562  97056  2022    15           0           426          2685          NaN
4563  97057  2022    15           0          2222        110242          NaN
4564  97060  2022    15           0          3071          2371          NaN
4565  97061  2022    15           0          2146          2974          NaN

      points_away  completed  conference_game  home_team_id  \
0             0.0          1                0       1000055
1             1.0          1                0            43
2             1.0          1                0       1000068
3             0.0          1                0       1000055
4             5.0          1                0       1000066
...           ...        ...              ...           ...
4561          NaN          1                0          3071
4562          NaN          1                0           426
4563          NaN          1                0          2222
4564          NaN          1                0          3071
4565          NaN          1                0          2146

            home_team_full_name     home_team_school_name home_team_mascot  \
0                 Stevens Ducks                   Stevens            Ducks
1                 Yale Bulldogs                      Yale         Bulldogs
2              Canada All-Stars          Canada All-Stars              NaN
3                 Stevens Ducks                   Stevens            Ducks
4      City College of New York  City College of New York              NaN
...                         ...                       ...              ...
4561    North Central Cardinals             North Central        Cardinals
4562        Mount Union Raiders               Mount Union          Raiders
4563      Ferris State Bulldogs              Ferris State         Bulldogs
4564    North Central Cardinals             North Central        Cardinals
4565  Colorado Mines Orediggers            Colorado Mines       Orediggers

      away_team_id           away_team_full_name     away_team_school_name  \
0          1000066      City College of New York  City College of New York
1          1000067                          Eton                      Eton
2              108               Harvard Crimson                   Harvard
3          1000066      City College of New York  City College of New York
4              171                Columbia Lions                  Columbia
...            ...                           ...                       ...
4561           175                Ithaca Bombers                    Ithaca
4562          2685              Wartburg Knights                  Wartburg
4563        110242        West Florida Argonauts              West Florida
4564          2371  Mary Hardin-Baylor Crusaders        Mary Hardin-Baylor
4565          2974                 Shepherd Rams                  Shepherd

     away_team_mascot
0                 NaN
1                 NaN
2             Crimson
3                 NaN
4               Lions
...               ...
4561          Bombers
4562          Knights
4563        Argonauts
4564        Crusaders
4565             Rams

[4566 rows x 18 columns]

In [ ]:
cleaned_df['home_team_mascot'].fillna('N/A', inplace=True)
cleaned_df['away_team_mascot'].fillna('N/A', inplace=True)
cleaned_df.dropna(inplace=True)
cleaned_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 96744 entries, 0 to 97108
Data columns (total 18 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   id                     96744 non-null  int64
 1   year                   96744 non-null  int64
 2   week                   96744 non-null  int64
 3   postseason             96744 non-null  int64
 4   id_home_team           96744 non-null  int64
 5   id_away_team           96744 non-null  int64
 6   points_home            96744 non-null  float64
 7   points_away            96744 non-null  float64
 8   completed              96744 non-null  int64
 9   conference_game        96744 non-null  int64
 10  home_team_id           96744 non-null  int64
 11  home_team_full_name    96744 non-null  object
 12  home_team_school_name  96744 non-null  object
 13  home_team_mascot       96744 non-null  object
 14  away_team_id           96744 non-null  int64
 15  away_team_full_name    96744 non-null  object
 16  away_team_school_name  96744 non-null  object
 17  away_team_mascot       96744 non-null  object
dtypes: float64(2), int64(10), object(6)
memory usage: 14.0+ MB

In [ ]:
# cleaned_df.to_csv('data/cleaned_cfb_data.csv', index=False)
# cleaned_df.to_json('data/cleaned_cfb_data.json', orient='records', indent=4)